* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  list-style: none;
}

:root {
  --green: #4caf50;
}

::selection {
  background-color: transparent;
}

body {
  height: 100vh;
  background-color: #bbdefbab;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}


.menu-icons {
  font-size: 1.5em;
  position: absolute;
  top: 20px;
  right: -80px;
  background-color: #fff;
  border-radius: 100px;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px #6161613a, 0px 0px 25px #bbdefbab;
  gap: 5px;
  transition: all .25s ease;
  padding: 0 10px;
}

.menu-icons:hover {
  right: 10px;
}

.menu-icons * {
  color: #616161 !important;
  width: 40px;
  height: 40px;
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icons div {
  width: 50px;
}

.levels {
  position: fixed;
  background-color: #fff;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-right: 1px solid #cccccc75;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 50px #61616165;
  border-radius: 20px;
  z-index: 10;
}

.levels h3 {
  margin-bottom: 40px;
  font-size: 1.2em;
  grid-column: span 3;
  text-align: center;
}

.levels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.7em;
  margin-bottom: 50px;
}

.levels span {
  padding: 10px 5px;
  text-align: center;

}

.levels span.active {
  border-radius: 5px;
  box-shadow: 0px 0px 5px #61616165;
  background-color: #4caf50;
  color: #fff;
}

.levels button {
  grid-column: span 3;
  font-size: 1.1em;
  margin: 0 auto;
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
}


.match {

  transform: rotateY(0deg) !important;
}

.match .face {
  background-color: #4caf4f00;
  box-shadow: none;
}




.board {
  color: #333;
  padding: 15px;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  perspective: 1000px;
  gap: 8px;
  font-weight: normal;
  align-items: center;
  width: fit-content;
  height: fit-content;
  min-width: 540px;
  min-height: 540px;
  font-size: 5em;
}



.size-16 {
  grid-template-columns: repeat(4, 1fr);
  font-size: 80px;
}

.size-16 .box {
  width: 135px;
  height: 135px;
}

.size-20 {
  grid-template-columns: repeat(5, 1fr);
  font-size: 90px;
}

.size-20 .box {
  width: 135px;
  height: 135px;
}

.size-30 {
  grid-template-columns: repeat(6, 1fr);
  font-size: 75px;
}

.size-30 .box {
  width: 110px;
  height: 110px;
}

.size-36 {
  grid-template-columns: repeat(6, 1fr);
  font-size: 75px;
}

.size-36 .box {
  width: 90px;
  height: 90px;
}

.size-42 {
  grid-template-columns: repeat(7, 1fr);
  font-size: 50px;
}

.size-42 .box {
  width: 90px;
  height: 90px;
}

.size-48 {
  grid-template-columns: repeat(8, 1fr);
  font-size: 60px;
}

.size-48 .box {
  width: 90px;
  height: 90px;
}

.size-56 {
  grid-template-columns: repeat(8, 1fr);
  font-size: 47px;
}

.size-56 .box {
  width: 80px;
  height: 80px;
}

.box {

  transition: all 0.3s ease-in-out;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  box-shadow: 0px 2xp 15px #979696;
  border-radius: 20px;
}

.selected {
  transform: rotateY(0deg);

}


.box * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 0px #6161616c;
}

.face {
  z-index: 1;
  background-color: #fff;
  backface-visibility: hidden;

}

.back {
  z-index: 2;
  background: linear-gradient(39deg, #8360c3c5, #2ebf91c5);
  transform: rotateY(180deg);
  backface-visibility: hidden;
}


/***********/
.fa-apple-alt {
  color: #89B000;
}

.fa-car {
  color: #F44336;
}

.fa-heart,
.fa-tshirt {
  color: #C2185B;
}

.fa-star,
.fa-sun,
.fa-bolt,
.fa-trophy,
.fa-bell {
  color: #ffd900;
}

.fa-snowflake,
.fa-moon,
.fa-euro-sign {
  color: #2196F3;
}

.fa-home,
.fa-bone,
.fa-eye,
.fa-pen {
  color: #795548;

}

.fa-fish,
.fa-plane,
.fa-carrot {
  color: #FF8F00;

}

.fa-mug-hot {
  color: #6f4e37;
}

.fa-cat {
  color: #D1945B;
}

.fa-dog {
  color: #947867;
}

.fa-cloud {
  color: #A6A6A6;
}

.fa-book {
  color: #D6861F;
}

.fa-clock {
  color: #8EBF6E;
}

.fa-smile {
  color: #E9BC79;
}

.fa-file,
.fa-envelope {
  color: #c0b8ab;
}

.fa-user {
  color: #009688;
}

.fa-tv {
  color: #444;
}

.fa-suitcase,
.fa-horse {
  color: #683130;
}

.fa-tree {
  color: #355829;
}

.hint {
  transform: rotateY(0deg);
}